.page {
    width: 960px;
    /*background-color: white;*/
    margin: auto;
    padding: 20px;
    padding-top: 0px;
}

.pure-g {
    margin-bottom: 25px;
}

.header {
    position: relative;
    height: 120px;
    padding-top: 30px;
}

.bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(https://raw.githubusercontent.com/ClairPan/FIT3179/main/img/banner.jpg);
    background-position: 40%;
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: -1;
    -webkit-filter: brightness(.6);
    filter: brightness(.6);
}

.slogan {
    text-align: center;
    margin-top: -5px;
    margin-bottom: -10px;
    color: white;
}

.visContainer {
    width: 100%;
    padding: 10px;
}

.buttonGroup {
    display: flex;
    flex-wrap: nowrap;
}

.pure-button {
    flex-grow: 1;
    margin: 0 10px;
    border-radius: 25px;
}
